@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --gray:#EBEBEC;
    --black:#272727;
    --pink: #F06197;
    --green: #36B59F;
    --Roboto: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Roboto);
}


body{
    background: var(--gray);
}

body, input, textarea,button{
    font-size: 1rem;
    font-family: sans-serif;
}

